{% extends 'layout.html' %}
{% block title %}
    Ebay Auction Site - Main Page
{% endblock %}
{% block navigation %}
        <ul class="navbar-nav1">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
        </ul>
{% endblock %}
{% block content %}
    <section>
        <h1 class="text-center">Search Your Interest!</h1>
        <form class="form-inline center" method="post" action="{{ url_for('search') }}">
            <input class="form-control mr-sm-8" type="search" placeholder="Search" aria-label="Search" name="search" required>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    <hr>
    </section>
    <section>
        <h1 class="text-center">Most Watched Today</h1>
        {% for i in response.reply.itemRecommendations.item %}
            <div class="container">
                <div class="row">
                    <img src="{{ i.imageURL }}" class="img-fluid col-2" />
                    <div class="col-10">
                        <h3>
                            <a href="{{ i.viewItemURL }}">
                                {{ i.title }}
                            </a>
                        </h3>
                        <p class="text-dark">Category: {{ i.primaryCategoryName }}</p>
                        <p class="text-dark">Price: £ {{ i.buyItNowPrice.value }}</p>
                        <p class="text-dark">Watch Count: {{ i.watchCount }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    <hr>
    </section>
{% endblock %}