{% extends 'layout.html' %}

{% block title %}Ebay Auction Site - Profile{% endblock %}

{% block navigation %}
        <ul class="navbar-nav1">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('save') }}">Saved Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('modify') }}">Modify Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Recommended for you</h2>
    </div>
        {% for i in response.reply.searchResult.item %}
        <div class="container">
            <div class="row">
                <img src="{{ i.galleryURL }}" class="img-responsive col-2" />
                <div class="col-10">
                    <h5>
                        <a href="{{ i.viewItemURL }}">
                            {{ i.title }}
                        </a>
                    </h5>
                    <p class="text-dark">Category: {{ i.primaryCategory.categoryName }}<br>
                        Price:{{ i.sellingStatus.currentPrice.value }}{{ i.shippingInfo.shippingServiceCost._currencyId }}</p>
                    <form action="{{ url_for('profile') }}" method="post" autocomplete="off">
                        <input type="submit" value="Save" class="btn btn-info"></input>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}